doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Zoom
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round")
        link(rel="stylesheet" href="/public/css/style.css")
    body
        main
            div.message.hide
                div.message__border
                span.message__icon
                    span.material-icons-round info
                div.message__text
                    span.title Info
                    span.subtitle
            section.welcome
                div.welcome__img
                    img(src="/public/image/chat.png" alt="main" srcset="")
                header
                    h1 Hello Again!
                    h3 Welcome back you've been missed!
                ul.welcome__rooms
                form(method="post")
                    input(type="text" name="room" placeholder="Enter room" required)
                    input(type="text", name="nickname" placeholder="Enter nickname" required)
                    button Enter Room
            section.room
                    article.room__stream
                        video.stream__mine(src="" autoplay playsinline) 
                        div.stream__overlay
                            header
                                button.stream--mute.material-icons-round volume_off
                                div.room__info
                                    h2.room__name
                                    span.room__count
                                button.stream--off.material-icons-round call
                            div.stream__control-btn
                                div.select
                                    select.stream--cameras
                                div
                                    button.modal--open.material-icons-round manage_accounts
                                div
                                    button.stream--leave.material-icons-round logout
                            div.stream__peers
                    article.room__chat
                        div.chat__move
                        div.chat__bubbles
                        form.chat__form
                            input.chat__msg(type="text" name="msg")
                            button.chat--send.material-icons-round send
            div.modal.hide
                button.modal--close &times;
                h1 Change nickname
                form(method="post")
                    input(type="text" name="nickname" required)
                    button Change
            div.overlay.hide
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")